body{
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: 4em;
}

.body{
  display: flex;
  text-align: center;
  @media(max-width: 640px){
      display: block;
  }
}

.sidebar{
  height: 90vh;
  flex-basis: 100%;
  padding: 3rem;
  @media(min-width: 640px){
      flex-basis: 100%;
  }

  &--jd{
      background-image: url("https://media.giphy.com/media/3o7TKDzLLKjIOVbPbi/giphy.gif");
  }

  &--turk{
      background-image: url("https://media.giphy.com/media/WGGfmw4aWKkw0/giphy.gif");
  }
}

.content{
  padding: 3rem;
  background-image: url("https://media.giphy.com/media/cSc63570q5iJq/giphy.gif");
  flex-basis: 50%;
  @media(min-width: 640px){
      flex-basis: 100%;
  }  
}

.background--gif{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}